
@import "~highlightjs/styles/github";

.highlight {
  margin-top: 20px;
  margin-bottom: 40px;

  > a {
    display: block;
  }

  &.open > a {
    border-radius: 6px 6px 0 0;
  }

  .toggle-container {
    float: none;
    padding: 0;
    border: 1px solid #108eb4;
    border-top: none;
    border-radius: 0 0 6px 6px;
    position: relative;
    top: 0;
    left: 0;
  }

  pre {
    padding: 0;
    margin: 0;
    border: 0;
    color: inherit;
    font-size: 12px;
  }
}
