
mixin sg-highlight()
  .sg-highlight.open
    a(data-toggle='toggle').toggle-button HTML-Code (dblclick to copy)

    div(data-toggle-target='toggle').toggle-target
      pre
        code.html
          block
