
mixin highlight()
  .highlight.open
    a.btn.btn-info(data-toggle="toggle")= "HTML-Code "
      span.caret
      small.pull-xs-right (dblclick > copy)

    .toggle-container
      pre
        code.html
          block
