{
  "extends": "airbnb-base",
  "rules": {
    "import/no-extraneous-dependencies": [
      "error", { "devDependencies": [ "**/*.build.js" ] }
    ],
    "linebreak-style": 0
  },
  "env": {
    "browser": true
  }
}
