{
  "extends": "airbnb-base",
  "rules": {
    "no-use-before-define": [
      "error", {
        "functions": false
      }
    ],
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": [ "**/*.build.js", "**/version.js", "**/watch.js"]
      }
    ],
    "linebreak-style": 0
  },
  "env": {
    "browser": true
  }
}
