{
  "extends": "airbnb-base",
  "rules": {
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": [
          "**/*.build.js",
          "**/browsersync.js",
          "**/watch.js"
        ]
      }
    ],
    "linebreak-style": 0
  },
  "env": {
    "browser": true
  }
}
