extends ../../../styleguide/styleguide.layout.pug

include ../../atoms/link/link.mixin.pug


block main
  +sg-header({ title: 'Footer' })
  +sg-tabs({
    linkList: [
      {title: 'Documentation', url: '/modules/organisms/footer/documentation.html'},
      { title: 'Code', url: '/modules/organisms/footer/code.html', active: true },
      { title: 'Example', url: '/modules/organisms/footer/example.html', newTab: true }
    ],
  })
  //- todo
  //- create module sg-sources
  - var usedModules = self.usedModules || [];

  each module in usedModules
    div= module


  +sg-highlight()
    footer
      +link('Impressum','#')
      +link('Kontakt','#')
      +link('Sitemap','#')
