extends ../../../styleguide/styleguide.layout.pug



block main
  +sg-header({ title: 'Footer' })
  +sg-tabs({
    linkList: [
      { title: 'Documentation', url: '/modules/organisms/footer/documentation.html' },
      { title: 'Code', url: '/modules/organisms/footer/code.html' },
      { title: 'Example', url: '/modules/organisms/footer/example.html', active: true }
    ],
  })

  +sg-example({src: '/modules/organisms/footer/footer.html'})
