
-
  function random(min, max, seed) {
    var x;

    if (seed) {
      var sprout = parseFloat('0.' + seed);
      x = Math.sin(sprout) * (max - min + 1) + min;
    } else {
      x = Math.random() * (max - min + 1) + min;
    }

    return Math.floor(x);
  };

  function randomDate () {
    var date = new Date();
    date.setDate(date.getDate() - rnd(0, 100))

    return ('0' + date.getDate()).slice(-2) + '.' + ('0' + (date.getMonth() + 1)).slice(-2) + '.' + date.getFullYear()
  }

  function randomID(prefix) {

    function getRndChar(charset) {
      return charset[Math.floor(Math.random() * charset.length)]
    }

    prefix = prefix || 'random-id-'
    const charset = 'abcdefghijklmnopqrstuvwxyz1234567890'
    return prefix + getRndChar(charset) + getRndChar(charset) + getRndChar(charset) + getRndChar(charset);
  }
