
.sg-tabs {
  background: $sg-ubuntu-orange-10;

  ul {
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }

  li {
    padding: 0 1em;

    &:hover a,
    &.active a {
      color: $sg-text-grey;
      border-bottom: 3px solid $sg-text-grey;
    }
  }

  a {
    display: block;
    padding: 1em 0;
    color: $sg-warm-grey;
    text-decoration: none;
  }
}
