extends ../../../styleguide/styleguide.layout.pug



block main
  +sg-header({ title: 'Header' })
  +sg-tabs({
    linkList: [
      { title: 'Documentation', url: '/modules/organisms/header/documentation.html' },
      { title: 'Code', url: '/modules/organisms/header/code.html' },
      { title: 'Example', url: '/modules/organisms/header/example.html', active: true }
    ],
  })

  +sg-example({src: '/modules/organisms/header/header.html'})
