
@import '../../molecules/searchbar/searchbar';
@import '../../molecules/navigation/navigation';

.header {
  display: flex;
  justify-content: space-between;
  background: grey;
  padding: 0 1rem;

  &_searchbar {
    width: 100%;
  }
}
