extends ../base/base.layout.pug

include highlight/highlight


block title
  title styleguide-layout

block extraStylesheets
  link(rel='stylesheet', href='/dist/styleguide.css')

block extraJavascripts
  script(src="/dist/styleguide.js", defer)
