extends ../base/base.layout.pug

include highlight/highlight


block title
  title styleguide-layout

block extraStylesheets
  link(rel='stylesheet', href='/styleguide/styleguide.css')

block extraJavascripts
  script(src="/styleguide/styleguide.js", defer)
