extends ../base/base.layout


block title
  title styleguide-layout

block stylesheets
  link(rel='stylesheet', href='/dist/styleguide.css')
  block extraStylesheets

block javascripts
  script(src="/dist/styleguide.js", defer)
  block extraJavascripts

block header
  // hier könnte Ihr sg-menu stehen

block main


block footer
