extends ../base/base.layout.pug

include sg-header/header.pug
include sg-highlight/highlight.pug
include sg-logo/logo.pug
include sg-markdown/markdown.pug
include sg-menu/menu.pug
include sg-partialList/partialList.pug
include sg-tabs/tabs.pug
include sg-version/version.pug
include sg-sidebar/sidebar.pug
include sg-example/example.pug

block stylesheets
  link(rel='stylesheet', type='text/css', href='/styleguide/styleguide.css')
  link(rel='stylesheet', type='text/css', href='/bundle.css', media=(self.useModules ? 'none' : 'all'))
  link(rel='stylesheet', type='text/css', href='/base/base.css', media=(self.useModules ? 'all' : 'none'))

block javascripts
  script(src='/styleguide/styleguide.js', type='text/javascript')

  if self.useModules
    script(src='/base/base.js', type='text/javascript')
  else
    script(src='/bundle.js', type='text/javascript')


block page
  +sg-sidebar()

  main(id='main')
    block main
