extends ../base/base.layout.pug

include highlight/highlight.pug
include logo/logo.pug
include menu/menu.pug
include version/version.pug


block stylesheets
  link(rel='stylesheet', href='/base/base.css')
  link(rel='stylesheet', href='/styleguide/styleguide.css')
  block extraStylesheets

block javascripts
  script(src="/base/base.js", defer)
  script(src="/styleguide/styleguide.js", defer)
  block extraJavascripts


block page
  aside
    +sg-logo()
    +sg-menu()
    +sg-version()

  main
    block main
