
@import '_sg-variables/all';
@import '_sg-mixins/all';
@import 'sg-fonts/icomoon';
@import 'sg-header/header';
@import 'sg-highlight/highlight';
@import 'sg-logo/logo';
@import 'sg-markdown/markdown';
@import 'sg-menu/menu';
@import 'sg-tabs/tabs';
@import 'sg-version/version';
@import 'sg-usedModules/usedModules';
@import 'sg-sidebar/sidebar';

body {
  color: $sg-text-grey;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  overflow-x: hidden;

  > aside {
    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden;

    height: 100%;
    width: 15vw;
    transition: width .25s ease-in, box-shadow .5s ease-out;
  }

  > main {
    overflow: hidden;

    width: 85vw;
    margin-left: 15vw;
  }

  &.-openSidebar {
    > aside {
      width: 85vw;
      box-shadow: 0 0 50vw 100vw transparentize($sg-text-grey, .25);
    }
  }
}
