
@import '../base/_variables/_all';
@import '../base/_mixins/_all';
@import '../base/colors/_all';
@import '../base/icons/icons';
@import '../base/icons/icons_generated-variables';

// styleguide stuff
@import 'sg-colorOverview/colorOverview';
@import 'sg-iconOverview/iconOverview';
@import 'sg-header/header';
@import 'sg-highlight/highlight';
@import 'sg-logo/logo';
@import 'sg-markdown/markdown';
@import 'sg-menu/menu';
@import 'sg-partialList/partialList';
@import 'sg-tabs/tabs';
@import 'sg-version/version';
@import 'sg-sidebar/sidebar';
@import 'sg-example/example';
@import 'sg-fonts/font';


body {
  color: $gray-dark;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;

  height: 100%;
  position: relative;

  > aside {
    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden;

    height: 100%;
    width: 6vw;
    transition: width .125s ease-in, box-shadow .25s ease-out;

    @include media('>md') {
      width: 15vw;
    }
  }

  > main {
    overflow: hidden;

    width: calc(94vw - (100vw - 100%));
    margin-left: 6vw;

    @include media('>md') {
      width: calc(85vw - (100vw - 100%));
      margin-left: 15vw;
    }
  }

  &.-openSidebar {
    > aside {
      width: 94vw;
      box-shadow: 0 0 50vw 100vw transparentize($gray-dark, .5);

      @include media('>md') {
        width: 15vw;
        box-shadow: none;
      }
    }
  }
}
