extends ../base/base.layout.pug

include highlight/highlight.pug


block stylesheets
  link(rel='stylesheet', href='/base/base.css')
  link(rel='stylesheet', href='/styleguide/styleguide.css')
  block extraStylesheets

block javascripts
  script(src="/base/base.js", defer)
  script(src="/styleguide/styleguide.js", defer)
  block extraJavascripts


block page
  main
    block main
