$sg-font-path: 'sg-fonts/fonts/' !default;

$sg-icon-arrow_down: \e900;
$sg-icon-arrow_left: \e901;
$sg-icon-arrow_right: \e902;
$sg-icon-arrow_up: \e903;
$sg-icon-screen: \e904;
$sg-icon-copyright: \e905;
$sg-icon-code: \e906;
