
mixin sg-menu()
  -
    var fs = self.require('fs');
    var mainMenu = JSON.parse(fs.readFileSync('src/styleguide/menu/menu.json'));

  nav.sg-menu
    ul
      each mainPoint in mainMenu
        li
          if mainPoint.subMenu
            p= mainPoint.title
            ul
              each subPoint in mainPoint.subMenu
                li: a(href=subPoint.url)= subPoint.title
          else
            a(href=mainPoint.url)= mainPoint.title
