
.sg-header {
  display: flex;
  align-items: flex-end;
  background: $sg-ubuntu-orange-10;

  padding: 0 1em;
  height: 20vh;
  min-height: 100px;

  &_title {
    width: 100%;
    line-height: 1;
  }
}
