
include _functions/_all

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1.0, width=device-width')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='theme-color', content='#000000')
    block meta

    block title
      title styleguide

    block stylesheets
      if self.useModules
        link(rel='stylesheet', type='text/css', href='/base/base.css')
      else
        link(rel='stylesheet', type='text/css', href='/bundle.css')

    block javascripts
      if self.useModules
        script(src='/base/base.js', type='text/javascript')
      else
        script(src='/bundle.js', type='text/javascript')


  body
    a(href='#main') Skip to main content

    block page

      main(id='main')
        block main
