
include _mixins/_all

doctype html
html(lang='de')
  head
    meta(name='viewport' content='initial-scale=1.0, width=device-width')
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(charset="utf-8")
    meta(name="theme-color", content="#1183a5")
    link(rel="icon", type="image/png", href="/media/favicon/favicon-16x16.png?v=3", sizes="16x16")
    link(rel="icon", type="image/png", href="/media/favicon/favicon-32x32.png?v=3", sizes="32x32")
    link(rel="icon", type="image/png", href="/media/favicon/android-chrome-192x192.png?v=3", sizes="192x192")
    link(rel="icon", type="image/png", href="/media/favicon/android-chrome-512x512.png?v=3", sizes="512x512")
    link(rel="shortcut icon", type="image/x-icon", href="/media/favicon/favicon.ico?v=3")
    link(rel="apple-touch-icon", href="/media/favicon/apple-touch-icon.png?v=3", sizes="180x180")
    meta(name="msapplication-TileImage" content="/media/favicon/mstile-150x150.png?v=3")

    block title
      title base-layout

    block stylesheets
      link(rel='stylesheet', href='/base/base.css')
      block extraStylesheets

    block javascripts
      script(src="/base/base.js", defer)
      block extraJavascripts

  body
    block header

    block main

    block footer
